# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Build output
dist/
build/

# Temp files
*.tmp
*.swp
configs.json
